@import "./layout.scss";

@mixin btn($size:14px,$color:#fff,$bgcolor:#f04752,$padding:5px,$radius:5px){    
    color: $color;
    background-color: $bgcolor;
    padding: $padding;
    border: 1px solid $bgcolor;
    border-radius: $radius;
    line-height: 1;
    font-size: $size;
    text-align: center;
    display: inline-block;
}

@mixin list($direction:row) {
    @include flex($direction);
}

@mixin panel($bgcolor:#fff,$padding:0,$margin:0 0 20px 0,$height:112px,$txtpadding:0 32px,$color:#333,$size:32px,$talign:center) {
    margin: $margin;
    padding: $padding;
    background-color: $bgcolor;
    .head h4{
        color: $color;
        font-size: 30px;
        height: $height;
        font-family: "PingFangSC-Medium";
        font-weight: 700;
        line-height: $height;
        text-align: $talign;
        padding: $txtpadding;
        color: $color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }    
}